/*
Syntax error: Invalid CSS after " ": expected selector or at-rule, was "{"
        on line 1 of /Users/tim/Sites/wordpress_themes/new_cfa/sass/screen.scss

1: /Users/tim/Sites/wordpress_themes/new_cfa/sass/screen.scss

Backtrace:
/Users/tim/Sites/wordpress_themes/new_cfa/sass/screen.scss:1
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/sass-3.1.5/lib/sass/scss/parser.rb:896:in `expected'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/sass-3.1.5/lib/sass/scss/parser.rb:841:in `expected'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/sass-3.1.5/lib/sass/scss/parser.rb:27:in `parse'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/sass-3.1.5/lib/sass/engine.rb:319:in `_to_tree'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/sass-3.1.5/lib/sass/engine.rb:291:in `_render'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/sass-3.1.5/lib/sass/engine.rb:238:in `render'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `block in compile'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `each'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `block in run'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/commands/update_project.rb:37:in `perform'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/commands/stamp_pattern.rb:76:in `perform'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/bin/compass:25:in `block in <top (required)>'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/bin/compass:39:in `call'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/gems/compass-0.11.5/bin/compass:39:in `<top (required)>'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/bin/compass:23:in `load'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/bin/compass:23:in `<main>'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/bin/ruby_executable_hooks:15:in `eval'
/Users/tim/.rvm/gems/ruby-2.1.5@new_cfa/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \" \": expected selector or at-rule, was \"{\"\A         on line 1 of /Users/tim/Sites/wordpress_themes/new_cfa/sass/screen.scss\A \A 1: /Users/tim/Sites/wordpress_themes/new_cfa/sass/screen.scss"; }
