%html{:lang => "en-US"}
  %head
    %title Crossfit Adaptation | Elite Fitness in the Heart of Shirlington
  %body#wrapper.home.page.page-id-2.page-template-default.logged-in.admin-bar.no-customize-support
    %header#wrapper-header
      .header-content-wrapper
        .header-content
          .title-box
            %p.site-title
              %a{:href => "http://newsite.crossfitadaptation.com/"} Crossfit Adaptation
          .menu-box
            .menu-mainmenu-container
              %ul#nav.menu
                / nav menu items
      .header-image
        %img.header-img{:alt => "Crossfit Adaptation", :src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/images/header.jpg"}/
        .header-image-container
          .header-image-text-wrapper
            .header-image-text
    / end of wrapper-header
    #wrapper-content
      .content-headline-wrapper
        .content-headline
          %h1 Home Page
      .container
        #main-content
          %article#content
            / just some content
          / end of content
    / end of wrapper-content
    %footer#wrapper-footer