!!!
/[if IE 7]
  <html class="ie ie7" lang="en-US">
/[if IE 8]
  <html class="ie ie8" lang="en-US">
/ [if !(IE 7) | !(IE 8)  ]><!
%html{:lang => "en-US"}
  / <![endif]
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Crossfit Adaptation | Elite Fitness in the Heart of Shirlington
    /[if lt IE 9]
      <script src="http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/js/html5.js"></script>
    :css
      #wrapper #wrapper-header .site-title { font-family: "Montserrat", Arial, Helvetica, sans-serif; }    %link{:href => "http://newsite.crossfitadaptation.com/feed/", :rel => "alternate", :title => "Crossfit Adaptation &raquo; Feed", :type => "application/rss+xml"}/
    %link{:href => "http://newsite.crossfitadaptation.com/comments/feed/", :rel => "alternate", :title => "Crossfit Adaptation &raquo; Comments Feed", :type => "application/rss+xml"}/
    %link#open-sans-css{:href => "//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&subset=latin%2Clatin-ext&ver=4.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#dashicons-css{:href => "http://newsite.crossfitadaptation.com/wp-includes/css/dashicons.min.css?ver=4.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#admin-bar-css{:href => "http://newsite.crossfitadaptation.com/wp-includes/css/admin-bar.min.css?ver=4.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#restimpo-google-font2-css{:href => "//fonts.googleapis.com/css?family=Montserrat&ver=4.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#restimpo-style-tan-css{:href => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/css/tan.css?ver=4.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#restimpo-style-css{:href => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/style.css?ver=4.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 8]
      <link rel='stylesheet' id='restimpo-style-ie-css'  href='http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/css/style-ie.css?ver=4.0' type='text/css' media='all' />
    %script{:src => "http://newsite.crossfitadaptation.com/wp-includes/js/jquery/jquery.js?ver=1.11.1", :type => "text/javascript"}
    %script{:src => "http://newsite.crossfitadaptation.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1", :type => "text/javascript"}
    %link{:href => "http://newsite.crossfitadaptation.com/xmlrpc.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
    %link{:href => "http://newsite.crossfitadaptation.com/wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
    %meta{:content => "WordPress 4.0", :name => "generator"}/
    %link{:href => "http://newsite.crossfitadaptation.com/", :rel => "canonical"}/
    %link{:href => "http://newsite.crossfitadaptation.com/", :rel => "shortlink"}/
    /[if IE]
      <style type="text/css" media="screen">
      \.header-content-wrapper, input[type="submit"], input[type="reset"], .custom-button, .header-image .header-image-text .header-image-link {
      behavior: url("http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/css/pie/PIE.php");
      zoom: 1;
      }
      </style>
    :css
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}    %style{:media => "print", :type => "text/css"} #wpadminbar { display:none; }
    %style{:media => "screen", :type => "text/css"}
      html { margin-top: 32px !important; }
      * html body { margin-top: 32px !important; }
      @media screen and ( max-width: 782px ) {
      html { margin-top: 46px !important; }
      * html body { margin-top: 46px !important; }
      }
  %body#wrapper.home.page.page-id-2.page-template-default.logged-in.admin-bar.no-customize-support
    %header#wrapper-header
      .header-content-wrapper
        .header-content
          .title-box
            %p.site-title
              %a{:href => "http://newsite.crossfitadaptation.com/"} Crossfit Adaptation
          .menu-box
            .menu-mainmenu-container
              %ul#nav.menu
                %li#menu-item-8.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-8
                  %a{:href => "http://newsite.crossfitadaptation.com/about-us/"} About Us
                %li#menu-item-11.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11
                  %a{:href => "http://newsite.crossfitadaptation.com/getting-started/"} Get Started
                %li#menu-item-15.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-15
                  %a{:href => "http://newsite.crossfitadaptation.com/our-programs/"} Our Programs
                %li#menu-item-24.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-24
                  %a{:href => "http://newsite.crossfitadaptation.com/contact-us/"} Contact Us
      .header-image
        %img.header-img{:alt => "Crossfit Adaptation", :src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/images/header.jpg"}/
        .header-image-container
          .header-image-text-wrapper
            .header-image-text
    / end of wrapper-header
    #wrapper-content
      .content-headline-wrapper
        .content-headline
          %h1 Home Page
      .container
        #main-content
          %article#content
            .post-thumbnail             .entry-content
              %p This is the home page. We will have to make this work right.
              %p
                %a.post-edit-link{:href => "http://newsite.crossfitadaptation.com/wp-admin/post.php?post=2&amp;action=edit"} (Edit)
            #comments.comments-area.no-comments
            / #comments .comments-area
          / end of content
        %aside#sidebar
          #search-2.sidebar-widget.widget_search
            %form#searchform{:action => "http://newsite.crossfitadaptation.com/", :method => "get"}
              .searchform-wrapper
                %input#s{:name => "s", :placeholder => "Search here...", :type => "text", :value => ""}/
                %input.send{:alt => "send", :name => "searchsubmit", :src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/images/empty.gif", :type => "image"}/
          #recent-posts-2.sidebar-widget.widget_recent_entries
            %p.sidebar-headline Recent Posts
            %ul
              %li
                %a{:href => "http://newsite.crossfitadaptation.com/hello-world/"} Hello world!
          #recent-comments-2.sidebar-widget.widget_recent_comments
            %p.sidebar-headline Recent Comments
            %ul#recentcomments
          #archives-2.sidebar-widget.widget_archive
            %p.sidebar-headline Archives
            %ul
              %li
                %a{:href => "http://newsite.crossfitadaptation.com/2014/11/"} November 2014
          #categories-2.sidebar-widget.widget_categories
            %p.sidebar-headline Categories
            %ul
              %li.cat-item.cat-item-1
                %a{:href => "http://newsite.crossfitadaptation.com/category/uncategorized/"} Uncategorized
          #meta-2.sidebar-widget.widget_meta
            %p.sidebar-headline Meta
            %ul
              %li
                %a{:href => "http://newsite.crossfitadaptation.com/wp-admin/"} Site Admin
              %li
                %a{:href => "http://newsite.crossfitadaptation.com/wp-login.php?action=logout&_wpnonce=840f3a9ee4"} Log out
              %li
                %a{:href => "http://newsite.crossfitadaptation.com/feed/"}
                  Entries
                  %abbr{:title => "Really Simple Syndication"} RSS
              %li
                %a{:href => "http://newsite.crossfitadaptation.com/comments/feed/"}
                  Comments
                  %abbr{:title => "Really Simple Syndication"} RSS
              %li
                %a{:href => "https://wordpress.org/", :title => "Powered by WordPress, state-of-the-art semantic personal publishing platform."} WordPress.org
        / end of sidebar
    / end of wrapper-content
    %footer#wrapper-footer
    / end of wrapper-footer
    %script{:src => "http://newsite.crossfitadaptation.com/wp-includes/js/admin-bar.min.js?ver=4.0", :type => "text/javascript"}
    %script{:src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/js/placeholders.js?ver=2.1.0", :type => "text/javascript"}
    %script{:src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/js/scroll-to-top.js?ver=1.0", :type => "text/javascript"}
    %script{:src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/js/selectnav.js?ver=0.1", :type => "text/javascript"}
    %script{:src => "http://newsite.crossfitadaptation.com/wp-content/themes/restimpo/js/responzive.js?ver=1.0", :type => "text/javascript"}
    :javascript
      (function() {
      	var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

      	request = true;

      	b[c] = b[c].replace( rcs, ' ' );
      	b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
      }());
	    #wpadminbar.nojq.nojs{:role => "navigation"}
      %a.screen-reader-shortcut{:href => "#wp-toolbar", :tabindex => "1"} Skip to toolbar
      #wp-toolbar.quicklinks{"aria-label" => "Top navigation toolbar.", :role => "navigation", :tabindex => "0"}
        %ul#wp-admin-bar-root-default.ab-top-menu
          %li#wp-admin-bar-wp-logo.menupop
            %a.ab-item{"aria-haspopup" => "true", :href => "http://newsite.crossfitadaptation.com/wp-admin/about.php", :title => "About WordPress"}
              %span.ab-icon
            .ab-sub-wrapper
              %ul#wp-admin-bar-wp-logo-default.ab-submenu
                %li#wp-admin-bar-about
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/about.php"} About WordPress
              %ul#wp-admin-bar-wp-logo-external.ab-sub-secondary.ab-submenu
                %li#wp-admin-bar-wporg
                  %a.ab-item{:href => "https://wordpress.org/"} WordPress.org
                %li#wp-admin-bar-documentation
                  %a.ab-item{:href => "http://codex.wordpress.org/"} Documentation
                %li#wp-admin-bar-support-forums
                  %a.ab-item{:href => "https://wordpress.org/support/"} Support Forums
                %li#wp-admin-bar-feedback
                  %a.ab-item{:href => "https://wordpress.org/support/forum/requests-and-feedback"} Feedback
          %li#wp-admin-bar-site-name.menupop
            %a.ab-item{"aria-haspopup" => "true", :href => "http://newsite.crossfitadaptation.com/wp-admin/"} Crossfit Adaptation
            .ab-sub-wrapper
              %ul#wp-admin-bar-site-name-default.ab-submenu
                %li#wp-admin-bar-dashboard
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/"} Dashboard
              %ul#wp-admin-bar-appearance.ab-submenu
                %li#wp-admin-bar-themes
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/themes.php"} Themes
                %li#wp-admin-bar-customize.hide-if-no-customize
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/customize.php?url=http%3A%2F%2Fnewsite.crossfitadaptation.com%2F"} Customize
                %li#wp-admin-bar-widgets
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/widgets.php"} Widgets
                %li#wp-admin-bar-menus
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/nav-menus.php"} Menus
                %li#wp-admin-bar-background
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/themes.php?page=custom-background"} Background
                %li#wp-admin-bar-header
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/themes.php?page=custom-header"} Header
          %li#wp-admin-bar-comments
            %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/edit-comments.php", :title => "0 comments awaiting moderation"}
              %span.ab-icon
              %span#ab-awaiting-mod.ab-label.awaiting-mod.pending-count.count-0 0
          %li#wp-admin-bar-new-content.menupop
            %a.ab-item{"aria-haspopup" => "true", :href => "http://newsite.crossfitadaptation.com/wp-admin/post-new.php", :title => "Add New"}
              %span.ab-icon
              %span.ab-label New
            .ab-sub-wrapper
              %ul#wp-admin-bar-new-content-default.ab-submenu
                %li#wp-admin-bar-new-post
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/post-new.php"} Post
                %li#wp-admin-bar-new-media
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/media-new.php"} Media
                %li#wp-admin-bar-new-page
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/post-new.php?post_type=page"} Page
                %li#wp-admin-bar-new-user
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/user-new.php"} User
          %li#wp-admin-bar-edit
            %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/post.php?post=2&action=edit"} Edit Page
        %ul#wp-admin-bar-top-secondary.ab-top-secondary.ab-top-menu
          %li#wp-admin-bar-search.admin-bar-search
            .ab-item.ab-empty-item{:tabindex => "-1"}
              %form#adminbarsearch{:action => "http://newsite.crossfitadaptation.com/", :method => "get"}
                %input#adminbar-search.adminbar-input{:maxlength => "150", :name => "s", :type => "text", :value => ""}/
                %input.adminbar-button{:type => "submit", :value => "Search"}/
          %li#wp-admin-bar-my-account.menupop.with-avatar
            %a.ab-item{"aria-haspopup" => "true", :href => "http://newsite.crossfitadaptation.com/wp-admin/profile.php", :title => "My Account"}
              Howdy, tim
              %img.avatar.avatar-26.photo{:alt => "", :height => "26", :src => "http://0.gravatar.com/avatar/60f6efe48c9e5eceaf16f2e2cf53f41a?s=26&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D26&amp;r=G", :width => "26"}/
            .ab-sub-wrapper
              %ul#wp-admin-bar-user-actions.ab-submenu
                %li#wp-admin-bar-user-info
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/profile.php", :tabindex => "-1"}
                    %img.avatar.avatar-64.photo{:alt => "", :height => "64", :src => "http://0.gravatar.com/avatar/60f6efe48c9e5eceaf16f2e2cf53f41a?s=64&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D64&amp;r=G", :width => "64"}/
                    %span.display-name tim
                %li#wp-admin-bar-edit-profile
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-admin/profile.php"} Edit My Profile
                %li#wp-admin-bar-logout
                  %a.ab-item{:href => "http://newsite.crossfitadaptation.com/wp-login.php?action=logout&_wpnonce=840f3a9ee4"} Log Out
      %a.screen-reader-shortcut{:href => "http://newsite.crossfitadaptation.com/wp-login.php?action=logout&_wpnonce=840f3a9ee4"} Log Out