// logo image
header#top .row {
    margin: 2em 0;
}


.logo {
    margin: 0px;
    img {
      max-width: 100%;
      height: auto;
    }
}

// menu primary

#menu-primary {
  a {
    color: $very-dark;
//    display: block;
//    padding: .5em 1em;
//    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  &.nav-justified {
    li {
      padding-left:1%;
      a {
          float: none;
          border-bottom: 3px solid $background-color;
          background-color: #fff;
//          border-bottom: 3px solid #d8dad9;
          &:hover {
           border-bottom: 3px solid $red;
//           background-color: inherit;
          }
        }
    }
    .current-menu-item a, .current_page_item a, .active a {
        border-bottom: 3px solid $red;
        cursor: default;
    }
  }
}

/* line 54, sass/_partials/_header_and_footer.scss */
//@media (min-width: 1000px) {
//  #menu-primary {
//    margin-top: .5em;
//    li {
//      width: 24%;
//    }
//    a {
//      padding: .75em 1em;
//    }
//  }
//}