// logo image
header#top .row {
    margin: 2em 0;
}


.logo {
    margin: 0px;
    img {
      max-width: 100%;
      height: auto;
    }
}

// menu primary

#menu-primary {
  a {
    color: $very-dark;
    text-decoration: none;
    text-transform: uppercase;
  }
  &.nav-justified {
    li {
      padding-left:1%;
      a {
          float: none;
          border-bottom: 3px solid $background-color;
          background-color: #fff;
          border-bottom: 3px solid gray;
          &:hover, &:active {
           border-bottom: 3px solid $red;
          }
        }
    }
    .current-menu-item a, .current_page_item a, .active a {
        border-bottom: 3px solid $red;
        cursor: default;
    }
  }
}

// anything less than md, center the logo and display
@media (min-width: $screen-sm) {
    .navbar-default-hide {
        background-color: transparent;
        border-color: transparent;
    }
}

@media (max-width: $screen-md) {
    .logo {
        text-align: center;        
    }
}