#menu-primary {
  margin-top: .25em;
  li {
    margin-left: 1%;
    width: auto;
  }
  a {
    padding: .5em;
    background: #fff;
    color: #272727;
    display: block;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  &.navbar-nav {
    .menu-item {
      border-bottom: 3px solid #d8dad9;
    }
    .current-menu-item, .current_page_item, .active {
      border-bottom: 3px solid #c91e20;
    }
  }
}

.current-menu-item a, .current-page-item a, .active a {
  cursor: default;
}

#menu-primary.navbar-nav .menu-item:hover {
  border-bottom-color: #c91e20;
}

@media (min-width: 1000px) {
  #menu-primary {
    margin-top: .5em;
    li {
      width: 24%;
    }
    a {
      padding: .75em 1em;
    }
  }
}