.workout-schedule {
  &.table {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-sm-min) {
       li {
        display: inline-block;

        &:before {
          content:  '/';
          padding: 0 4px 0 2px;
        }

        &:first-child:before {
          content: '';
          padding: 0;
        }
      }
    }
  }
}